.contacts {
    max-width: 300px;
}

.contacts-heder {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--accent-color);
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;

    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

    @media (min-width: 768px) {
        padding: 15px 25px;
    }
}

.contacts-heder-text {
    font-weight: 700;
    font-size: 34px;
    color: var(--light-secondarily);
}

.contacts-close-btn {
    fill: var(--light-secondarily);
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}