.info-body {
    color: var(--dark-primary);

    @media (min-width:768px) {
        display: grid;
        grid-template-columns: 248px 1fr;
        grid-template-rows: 68px 1fr;
        grid-template-areas:
            "header header"
            "nuv main";
    }
}

.info-nav {
    /* grid-area: nuv;
    height: 100vh;
    width: 245px;
    padding-top: 100px;
    padding-left: 25px;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--gray-primarily);
    background-color: var(--light-primary);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2); */

    /* @media (max-width:767.9px) {
        display: none;
    } */

    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: var(--light-primary);

}

.info-mob-btn {
    position: fixed;
    left: 8px;
    z-index: 20;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-primarily);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);

    @media (min-width:768px) {
        display: none;
    }

    &>svg {
        fill: var(--light-primary);
    }
}

.info-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-item {
    font-weight: 700;
    font-size: 22px;
}

.selected::before {
    content: '';
    width: 4px;
    height: 30px;
    display: block;
    background-color: var(--green-primarily);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 5px;
}

.info-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    transition: color 0.3s ease;

    @media (min-width:768px) {

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.info-main {
    grid-area: main;
}

.info-breadcrumbs {
    @media (min-width:768px) {
        margin-top: 30px;
        margin-left: 15px;
    }

}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    padding: 42px;

    @media (min-width:678px) {
        font-size: 20px;
    }

    & a {
        font-weight: 700;
    }

    & span {
        font-weight: 700;
    }

    & p {
        margin-bottom: 7px;
    }

    & a:hover,
    & a:focus {
        color: var(--accent-color);
    }

    & ul>li:not(:last-child) {
        margin-bottom: 10px;
    }
}

.info-section-title {
    font-weight: 700;
    font-size: 20px;

    @media (min-width:678px) {
        font-size: 22px;
    }
}

.info-section-list {
    @media (min-width:768px) {
        display: flex;
        gap: 15px;
    }


}

.info-section-img {
    display: block;
    margin: 0 auto;

    @media (max-width:768px) {
        width: 80%;
        height: 80%;
    }
}