.section {
    color: var(--dark-primary);
    padding-bottom: 20px;
}

.title {
    font-weight: 700;
    font-size: 38px;
    text-align: center;

    @media (min-width:768px) {
        font-size: 55px;
        text-align: start;
        margin-left: 120px;

    }
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    @media (min-width:768px) {
        margin-top: 35px;
    }
}

.list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}